# allow gitkeep
!*.gitkeep

# OS temp files
Thumbs.db
.DS_Store
*.swp
*.out
*.bak
*.svg.bkp
*.svg.dtmp
*~

.envrc

# IDE files
nbproject/
.vagrant/
.settings/
.project
.buildpath
.idea/
.venv/
.venv
node_modules/
node_modules
.direnv/
.vscode/
.devcontainer/
*.code-workspace
# variables.json
# manifest.json

# see https://localheinz.com/blog/2019/10/25/project-notes/
.notes/
